// Colors
$colors: (
    //Output: --clr-orange-100  
    orange: (
        100: hsl(14, 100%, 80%),
        200: hsl(14, 100%, 70%),
        300: hsl(14, 100%, 60%),
        400: hsl(12, 100%, 43%),
        500: hsl(14, 100%, 20%),
    ),
    blue: (
        100: hsl(219, 100%, 80%),
        200: hsl(219, 100%, 70%),
        300: hsl(219, 100%, 60%),
        400: hsl(219, 100%, 37%),
        500: hsl(219, 100%, 20%),
    ),
    red: (
        100: hsl(345, 100%, 80%),
        200: hsl(345, 100%, 70%),
        300: hsl(345, 100%, 60%),
        400: hsl(345, 100%, 46%),
        500: hsl(345, 100%, 20%),
    ),
    grayscale: (
        100: hsl(0, 0%, 100%),
        200: hsl(0, 0%, 87%),
        300: hsl(0, 0%, 40%),
        400: hsl(0, 0%, 30%),
        500: hsl(0, 0%, 15%),
        600: hsl(0, 0%, 0%),
    )
);

//Color Name Generator
:root {
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }
}


// Bootstrap Variables
$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    danger: $danger,
    warning: $warning,
    info: $info,
    light: $light,
    dark: $dark,
);