// Colors
$white:       #ffffff;
$black:       #000000;
$dark-gray:   #333333;
$light-gray:  #cccccc;
$pink:        #ff99FF;

$theme-white:       #ffffff;
$theme-black:       #000000;
$theme-dark-gray:   #333333;
$theme-light-gray:  #cccccc;